# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_NAME="Book Store Management"
APP_ENV="development"
APP_DEBUG=true

DATABASE_PROVIDER="postgresql" #postgresql

HTTP_HOST=0.0.0.0
HTTP_PORT=3003

GRPC_HOST=0.0.0.0
GRPC_PORT=50053

LOG_CHANNELS=console,file
LOG_LEVEL=debug
LOG_FILE_NAME="nest.log"
LOG_FILE_DIRNAME="logs"

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
DATABASE_NAME=book_store_management

JWT_SECRET=YOUR_JWT_SECRET
JWT_ACCESS_EXPIRE_MINUTE="60"
JWT_ACCESS_REFRESH_MINUTE="1440"
JWT_ALGORITHM="HS256"


TEST_USER_NAME='Test User'
TEST_USER_EMAIL='test@test.com'
TEST_USER_PASSWORD="123456"
TEST_ROLE_TITLE='Admin'
TEST_ROLE_KEY='admin'
TEST_ROLE_DESC='Admin role'